{%include 'layout.html'%}

    <div class="container">
        <!-- Struttura a Card di Bootstrap per contenere il modulo di login -->
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <!-- Form di login: l'ID 'loginForm' servirà per gestire l'invio dati con JavaScript (Fetch API) -->
                <form id="loginForm">
                    <!-- Gruppo per il campo Username -->
                    <div class="form-group">
                        <label>Username</label>    
                        <!-- 'name="username"' è il nome del campo che il server FastAPI si aspetta di ricevere -->
                        <input type="text" class="form-control" name="username" autocomplete="username" required>
                    </div>
                    
                    <!-- Gruppo per il campo Password -->
                    <div class="form-group">
                        <label>Password</label>
                        <!-- type="password" nasconde i caratteri digitati -->
                        <input type="password" class="form-control" name="password" autocomplete="current-password" required>
                    </div>
                    
                    <!-- Bottone-->
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            
            <!-- Footer della card per rimandare l'utente alla registrazione se non ha un account -->
            <div class="card-footer text-muted">
                <!-- Nota il percorso: punta alla rotta /register-page che abbiamo definito nei router -->
                <a href="/auth/register-page">Register?</a>
            </div>
        </div>
    </div>

